<template>
  <div>
    <h3 class="text-xs-center mb-3">Mensaje</h3>
    <pre>{{message}}</pre>
    <button class="btn btn-primary" @click="Enviar">Enviar alerta</button>
  </div>
</template>
<script>
export default {
  data(){
    return{
      message:''
    }
  },
  methods : 
  {
    recibir()
    {
      let me = this;
      me.$socket.on('newAlert', (data) => 
      {
        this.message = data; 
      });
    },
    async Enviar()
    {
      let me = this;
      await me.$socket.emit('newCita','hola');
    },
  },
  mounted()
  {
    this.recibir();
  }
}
</script>

<style lang="css">
</style>