<template>
    <div>
        	  <div class="row">
		  <router-link :to="{ name: 'eps_create'}" class="btn btn-success"><i class="fas fa-plus"></i> Nuevo</router-link>
	  </div>
	  <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Opciones</th>
                    <th>nombre</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(Eps,index) in arrayEps" :key="index">
                    <td>
                        <div>
                            <b-dropdown id="dropdown-1" text="Opciones" class="m-md-2">
                                <b-dropdown-item :to="{ name: 'eps_load', params: { id: Eps._id }}">
                                        Editar
                                </b-dropdown-item>
                                <b-dropdown-item><button class="btn btn-succes" @click="eliminar(Eps._id)" >Eliminar</button></b-dropdown-item>
                            </b-dropdown>
                        </div>
                    </td>
                    <td>
                        {{Eps.name}}
                    </td>
                    <td>
                        {{Eps.description}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</template>
<script>
import formulario from './form';
export default {
    components:{formulario},
    name: 'eps-create',
  	data () {
    	return {
            arrayEps:[]
        };
  	},
  	methods:{
		start()
		{
            let me = this;
            me.index();
        },
        eliminar(_id)
        {
            let me = this;
            me.$swal({
            title: 'Va a eliminar este registro',
            text: "¿Desea continuar?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, eliminar!'
            }).then((result) => 
            {
                axios
                .post(API_HOST+'/eps/delete',{_id:_id})
                .then(function(response)
                {
                    me.$swal("Se ha eliminado con éxito.");
                    me.index();
                })
            })
        },
        index()
        {
            let me = this;
			axios
			.get(API_HOST+'/eps/')
			.then(function(response)
			{
                me.arrayEps=response.data.data;
			})
        }
    },
    mounted:function(){
        this.$parent._data.template='back'
        this.start()
    }

}
</script>