<template>
  
</template>

<script>
export default {
    name: 'logout',
    methods:{
        salir()
        {
            console.log({localStorage:localStorage}); 
            localStorage.clear();
            this.$router.push({ name:'cita'});
            console.log({localStorage:localStorage}); 
        }
    },
    mounted:function()
    {
        this.salir();
    }
}
</script>