<template>
    <div>
        <formulario v-bind:form="form" @guardar="guardar"></formulario>
    </div>
</template>
<script>
import formulario from './form';
export default {
    components:{formulario},
    name: 'especialistas-create',
  	data () {
    	return {
            _id:'',
            form:
            {
                nombre_primero:'',
                nombre_segundo:'',
                apellido_primero:'',
                apellido_segundo:'',
                documento_typo_id:'',
                documento_numero:'',
                especialidad_id:''
            }
        };
  	},
  	methods:{
		start()
		{
            let me = this;
            me._id = me.$route.params.id;
            me.updateData();
        },
        updateData()
        {
            let me = this;
			axios
			.post(API_HOST+'/especialista/find',{id:me._id},)
			.then(function(response)
			{
                if(response.data.validate)
                {
                    var value                   = response.data.data;
                    me.form.nombre_primero      = value.nombre_primero;
                    me.form.nombre_segundo      = value.nombre_segundo;
                    me.form.apellido_primero    = value.apellido_primero;
                    me.form.apellido_segundo    = value.apellido_segundo;
                    me.form.documento_typo_id   = value.documento_tipo._id,
                    me.form.documento_numero    = value.documento_numero;
                    me.form.especialidad_id     = value.especialidad_tipo._id
                    me.form._id                 = me._id;
                }
                else{
                    alert('error');
                }
			})
        },
        guardar(form)
        {
            let me = this;
			axios
			.post(API_HOST+'/especialista/update',form)
			.then(function(response)
			{
                me.arrayEspecialidad = response.data.data;
                me.$swal('Actualizado con éxito');
                me.$router.push({ name: 'especialistas_index' });
			})
        }
    },
    mounted:function(){
        this.$parent._data.template='back'
        this.start()
    }

}
</script>