.table {
    font-size: 1.5rem;
}
.form-title{
    font-family: "Work Sans",sans-serif;
    font-size: 1.7rem;
    margin: 0 0 1.5rem;
    font-weight: 500;
}
.custom-radio {
    border: 2px solid #dedede;
    padding: .5rem 1rem;
    margin: 0 .5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.navbar{
	background-color:#FFF; 
}
.nav-link{
	color:black;
}
.logo{
    height: 8rem;
    width: auto;
    padding: .5rem;
}
.jumbotron-grid {
    display: flex;
    background-color: #fff;
    height: 40rem;
}
.picture{
    flex: 0 0 50%;
}
.image{
    width: 100%;
    height: 100%;
}
.bg-pattern{
    flex: 0 0 50%;
    background-color: #005823;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-container{
    margin: 0 10rem;
}
.text-container .title{
    color: #fff;
    font-size: 1.8rem;
}
.text-container .content{
    color: #a4c465;
    font-size: 3.3rem;
    font-weight: 300;
    line-height: 35px;
}
body, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
body, html {
  box-sizing: border-box;
  font-size: 10px!important;
  font-family: Rubik,sans-serif;
  background-color: #f8f8f8;
}
.text-input {
    background-color: #fff!important;
}

.select-input, .text-input {
    border: 2px solid #dedede!important;
    height: 4rem;
    font-size: 1.5rem;
}
.others-2,.is-rounded{
	background-color: #FFF !important;
	border: 2px solid #dedede!important;
    height: 4rem;
    font-size: 1.5rem;
}
.nav-item{
	padding-top: 25px;
}
#div_hora{
	padding:4px;
	background-color: #FFF;
	height: 310px;
	overflow-x: auto;
	text-align:justify;
}
#div_hora::-webkit-scrollbar{
	width: 20px;
}
#div_hora::-webkit-scrollbar-thumb {
    background: #C3C3C3;
    border-radius: 10px;
}
.pre-header{background-color:#005823;height:4rem;display:flex;justify-content:flex-end}.pre-header-item{color:#c1d6c9!important;padding:1rem;font-size:1.2rem}.custom-nav{background-color:#fff;padding:1rem .5rem;height:8rem}.nav-item{color:#2f302f;text-transform:uppercase;font-variant:all-petite-caps;font-weight:700}.logo{height:8rem;width:auto;padding:.5rem}.menu-option{color:#2f302f;font-variant:all-petite-caps;font-size:1.5rem}.menu-option:hover{color:#a4c465;background-color:transparent}.appointment-btn{border:2px solid #a4c465;background-color:transparent;color:#000;margin:0 1.5rem;padding:1rem;width:12rem;border-radius:30rem;height:auto;line-height:1;font-weight:700;font-size:1.3rem}.nav-link{font-size:1.5rem;font-weight:500}
.form-type{display:flex}.custom-radio{border:2px solid #dedede;padding:.5rem 1rem;margin:0 .5rem;background-color:#fff;display:flex;align-items:center}.custom-radio   .form-type-option{width:2rem;height:2rem}.custom-radio   .form-type-option:checked{background-color:green}.custom-radio   .form-type-option::after{background-color:pink}.custom-radio   .radio-label{color:#212529;font-size:1.7rem;margin:0 0 0 1rem}.form-title{font-family:"Work Sans",sans-serif;font-size:1.7rem;margin:0 0 1.5rem;font-weight:500}.form-cluster{margin:1.5rem 0}label{display:flex;align-items:center;justify-content:space-between}@media (max-width:991px){.form-type{flex-direction:column}.custom-radio{margin-bottom:1rem}.contact-us{margin-top:5rem}}
.form-title{font-family:"Work Sans",sans-serif;font-size:1.7rem;margin:0 0 1.5rem;font-weight:500}.form-sub-title{font-size:1.7rem;color:#212529;margin-bottom:1rem}.form-label{font-family:"Work Sans",sans-serif;color:#000;font-weight:600;font-size:1.2rem}.form-cluster{margin:1.5rem 0}.form-via{display:flex}.form-via   .custom-radio{border:2px solid #dedede;padding:.5rem 1rem;margin:0 .5rem;background-color:#fff;display:flex;align-items:center}.form-via   .custom-radio   .form-type-option{width:2rem;height:2rem}.form-via   .custom-radio   .radio-label{color:#212529;font-size:1.7rem;margin:0 0 0 1rem}.specialty-form{display:flex}.specialty-form   .specialty-form-input{flex:0 0 25%;margin-right:2rem}.grid-full-name{grid-area:fullName}.grid-document-type{grid-area:documentType}.grid-document-number{grid-area:documentNumber}.grid-birthday{grid-area:birthday}.grid-email{grid-area:email}.grid-phone{grid-area:phone}.grid-country{grid-area:country}.grid-city{grid-area:city}.grid-country-form{grid-area:countryForm;display:grid;grid-template-areas:"country country city city"}.grid-ua-text-1{grid-area:uaTextOne}.grid-ua-text-2{grid-area:uaTextTwo}.grid-ua-name{grid-area:uaName}.grid-ua-responsible{grid-area:uaResponsible}.grid-ua-email{grid-area:uaEmail}.grid-ua-phone{grid-area:uaPhone}.grid-under-age{grid-area:underAgeForm;display:grid;grid-template-areas:"uaTextOne uaTextOne uaTextOne uaTextOne" "uaName uaName uaResponsible uaResponsible" "uaTextTwo uaTextTwo uaTextTwo uaTextTwo" "uaEmail uaEmail uaPhone uaPhone"}.grid-city, .grid-document-number, .grid-email, .grid-ua-phone, .grid-ua-responsible{margin-left:2rem}.personal-info-grid-container{display:grid;grid-template-areas:"documentType documentType documentNumber documentNumber" "fullName fullName fullName fullName" "birthday birthday email email" "phone phone phone phone" "countryForm countryForm countryForm countryForm" "underAgeForm underAgeForm underAgeForm underAgeForm"}.source-container{display:flex;flex-wrap:wrap}.source-container   .custom-checkbox{border:2px solid #dedede;background-color:#fff;padding:.5rem 2rem;margin:.5rem}.form-link{color:#005823!important}.select-input, .text-input{border:2px solid #dedede!important;height:4rem;font-size:1.5rem}.text-input{background-color:#fff!important}.select-input{padding:0 1rem}.textarea-input{border:1px solid #ced4da;font-size:1.5rem}.text-input::-webkit-input-placeholder, .textarea-input::-webkit-input-placeholder{font-size:1.5rem}.text-input::-moz-placeholder, .textarea-input::-moz-placeholder{font-size:1.5rem}.text-input::-ms-input-placeholder, .textarea-input::-ms-input-placeholder{font-size:1.5rem}.text-input::placeholder, .textarea-input::placeholder{font-size:1.5rem}.custom-control-label{font-size:1.7rem;padding-left:1rem}.custom-control-label::after{width:1.5rem;height:1.5rem;top:.4rem}.custom-control-label::before{width:1.5rem;height:1.5rem;top:.4rem;margin-right:1rem}.grid-item{margin-bottom:2rem}.submit-button{background-color:#a4c465;color:#fff;font-variant:all-small-caps;border-radius:30rem;font-size:1.7rem;font-weight:500}.submit-button:hover{border:1px solid #a4c465;color:#a4c465;background-color:#fff}@media (max-width:991px){.specialty-form{flex-direction:column}.specialty-form   .specialty-form-input{margin:0 0 2rem}.grid-country-form{grid-template-areas:"country" "city"}.personal-info-grid-container{grid-template-areas:"documentType" "documentNumber" "fullName" "birthday" "email" "phone" "countryForm" "underAgeForm"}.grid-city, .grid-document-number, .grid-email, .grid-ua-phone, .grid-ua-responsible{margin-left:0}.textarea-input{height:10rem}.custom-control-label{font-size:1.5rem}.custom-checkbox{margin-bottom:.5rem}}.submit{display:flex;flex-direction:column;align-items:flex-start}.general-error-text{padding:1rem;margin:1rem 0;box-shadow:0 0 0 .2rem rgba(255,53,71,.5);border-radius:3px}


@media (max-width: 768px)
{
    #navbarfull
    {
      display: none !important;
    }
}
@media (min-width: 768px)
{
    #navbarfull2
    {
      display: none !important;
    }
}