<template>
  <div class="container-fluid">
	  <div class="row">
		  <router-link :to="{ name: 'cita_create'}" class="btn btn-success"><i class="fas fa-plus"></i> Nuevo</router-link>
	  </div>
	  <div class="row">
		  <div class="col-md">
				<table v-if="arrayCitas.length>0" style="background-color:#FFF" class="table table-hover">
					<thead>
						<tr>
							<th>Opciones</th>
							<th>Paciente</th>
							<th>Fecha</th>
							<th>Hora</th>
							<th>Especialista</th>
							<th>Especialidad</th>
							<th>Estado</th>
							<th>EPS</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(citas,index) in arrayCitas" :key="index">
							<td>
								<div>
									<b-dropdown id="dropdown-1" text="Opciones" class="m-md-2">
										<b-dropdown-item>
											<router-link class="btn btn-succes" :to="{ name: 'cita_edit', params: { id: citas._id }}">Editar</router-link>
										</b-dropdown-item>
										<b-dropdown-item><button class="btn btn-succes" @click="eliminar(citas._id)" >Eliminar</button></b-dropdown-item>
									</b-dropdown>
								</div>
							</td>
							<td>
								{{citas.paciente.nombre_primero}}
								{{citas.paciente.nombre_segundo}}
								{{citas.paciente.apellido_primero}}
								{{citas.paciente.apellido_segundo}}
							</td>
							<td>{{citas.fecha|dateFormat}}</td>
							<td>{{citas.hora}}</td>
							<td>
								{{citas.especialista|dataEspecialista}}
							</td>
							<td>{{citas.especialista |estadoEspecialidad}}</td>
							<td>
								<span class="badge" :style="'background-color:'+citas.estado.color">
									{{citas.estado.name}}
								</span>
							</td>
							<td>{{citas.eps.name}}</td>
						</tr>
					</tbody>
				</table>
			</div>
  		</div>
		<div class="row">
		  <div class="col-md">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" @click="paginar(1)"><i class="fas fa-step-backward"></i></a></li>
                        <li class="page-item"><a class="page-link" @click="paginar(pagination.page-1)">Anterior</a></li>
                        <li v-for="(paginate,index) in pagination.pages" :key="index" v-if="(pagination.page<paginate+5) && (pagination.page>paginate-5)" class="page-item" :class="pagination.page==paginate?'active':''"><a class="page-link" @click="paginar(paginate)">{{paginate}}</a></li>
                        <li class="page-item"><a class="page-link" @click="paginar(pagination.page+1)">Siguiente</a></li>
                        <li class="page-item"><a class="page-link" @click="paginar(pagination.pages)"><i class="fas fa-step-forward"></i></a></li>
                    </ul>
                </nav>
            </div>
		</div>
  </div>
</template>

<script>
import BootstrapVue from 'bootstrap-vue'
export default {
	components:{BootstrapVue},
	filters: 
	{
		dataEspecialista:function(value)
		{
			let val='';
			if(typeof value=='object')
			{
				try {val=val+' '+value.apellido_primero;} catch (error){}
				try {val=val+' '+value.apellido_segundo;} catch(error){}
				try {val=val+' '+value.nombre_primero;} catch(error){} 
				try {val=val+' '+value.nombre_segundo;} catch(error){}
			}
			return val;
		},
		estadoEspecialidad:function(value)
		{
			let val='';
			if(typeof value=='object')
			{
				try {val=value.especialidad_tipo.name;} catch (error){}
			}
			return val;
		},
		dateFormat: function (value) 
		{
			let fechas ='';
			if(value!=null)
			{
				try {
					var fecha = value.split("T");
					fechas=fecha[0];
				} catch (error) {
					console.warn({error:error})
				}
			}
			return fechas;
		}
	},
  	data () {
        return {
			arrayCitas:[],
			pagination:{
                limit: 0,
                page: 0,
                pages: 0,
                total: 0
            }
        }
    },
    methods:{
        start()
        {
            this.paginar(1);
		},
        eliminar(_id)
        {
            let me = this;
            me.$swal({
            title: 'Va a eliminar este registro',
            text: "¿Desea continuar?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, eliminar!'
            }).then((result) => 
            {
                axios
                .post(API_HOST+'/cita/delete',{_id:_id})
                .then(function(response)
                {
                    me.$swal("Se ha eliminado con éxito.");
                    me.paginar(me.pagination.page);
                })
            })
        },
        paginar(pag)
        {
			let me = this;
			if(pag>me.pagination.pages)
            {
                pag=me.pagination.pages;
            }
            if(pag<1)
            {
                pag=1;
            }
            axios
			.post(API_HOST+'/cita/all',{pag:pag})
			.then(function(response)
			{
				let value           = response.data.data;
				let docs	  = [];
				let index=0;
				$.each(value.docs,function(i,values)
				{
					if(values.fecha!=null)
					{
					docs[index]=values;
					try {
						
					docs[index].push({paciente:{
						apellido_primero			:typeof values.apellido_primero!='undefined'?values.apellido_primero:'',
						apellido_segundo			:typeof values.apellido_segundo!='undefined'?values.apellido_segundo:'',
						ciudad						:typeof values.ciudad!='undefined'?values.ciudad:'',
						documento					:typeof values.documento!='undefined'?values.documento:'',
						documentoType				:typeof values.documentoType!='undefined'?values.documentoType:'',
						email						:typeof values.email!='undefined'?values.email:'',
						fecha_nacimiento			:typeof values.fecha_nacimiento!='undefined'?values.fecha_nacimiento:'',
						nombre_primero				:typeof values.nombre_primero!='undefined'?values.nombre_primero:'',
						nombre_segundo				:typeof values.nombre_segundo!='undefined'?values.nombre_segundo:'',
						numero_contacto				:typeof values.numero_contacto!='undefined'?values.numero_contacto:'',
						pais						:typeof values.pais!='undefined'?values.pais:'',
						_id							:typeof values._id!='undefined'?values._id:'',
					}});

					} catch (error) {
						
					}
					if(typeof values.eps.name === 'undefined' )
					{
						docs[index].eps={_id: "", active: false, description: "", name: ""};
					}
					let r='';
					try {
						r = typeof values.especialista.data 
					} catch (error) {
						r='undefined';
					}
					if(r !== 'undefined')
					{
						docs[index].especialista={
							apellido_primero: "",
							apellido_segundo: "",
							documento_numero: "",
							documento_tipo: {_id: "", name: "", name_short: ""},
							especialidad_tipo: {_id: "", description: "", name: ""},
							nombre_primero: "",
							nombre_segundo: "",
							_id: ""
						}
					}
					index=index+1;
					}
				});
                me.arrayCitas     	= docs;
                me.pagination.limit = value.limit;
                me.pagination.page  = value.page;
                me.pagination.pages = value.pages;
				me.pagination.total = value.total;  
			})
        }
    },
	mounted:function()
	{
		this.$parent._data.template='back'
    	this.start();
  	}
}
</script>

<style>

</style>